* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
:root {
  --ff-heading: 'Staatliches', cursive;
  --ff-paragraph: 'Palanquin', sans-serif;
  --ff-paragraph-secundary: 'Roboto', sans-serif;
  --ff-footer: 'Open Sans', sans-serif;

  --bg: hsl(0,0%,89.8%);
  --hue: 250;
  --bg-heading: hsla(218, 17%, 62%, 1);
  --bg-heading-span: hsla(275, 18%, 79%, 1);
  --bg-body: hsla(233, 100%, 97%, 1);
  --bg-body-span: hsla(312, 91%, 96%, 1);

  --fc-primary: hsla(0, 0%, 100%, 1);
  --fc-secundary: hsla(232, 17%, 35%, 1);
  --fc-paragraph: hsla(274, 84%, 12%, 1);


  font-size: 62.5%;
  --fs-heading: clamp(4rem, 1rem + 6vw, 4.8rem); 
  /*--fs-heading-desktop: 4.8rem; */
  --fs-paragraph: clamp(1.8rem, 1rem + 2vw, 2.4rem);
  /*--fs-paragraph-desktop: 2.4rem;*/
  --fs-span: 2rem;
  --fs-footer: 1.4rem;
}

body {
  background-color: var(--bg);
}

.page {
  max-width: clamp(38.4rem, 40rem + 40vw, 128rem);

  margin: 0 auto;
}

header {
  background-color: var(--bg-heading);

  text-align: center;

  padding-bottom: 2.9rem ;
}

.logo {
  width: 50%;
  margin: 3.2rem auto;
}

header h1,
section h2 {
  font-family: var(--ff-heading);
}

header h1 {
  font-weight: 400;
  font-size: var(--fs-heading);
  line-height: 3.4rem;
  color: var(--fc-primary);
  letter-spacing: 5px;

  text-shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.25);

  text-transform: uppercase;
}

header h1:hover {
  text-shadow: 3px 5px 2px hsla(0, 0%, 0%, 0.35);
}

header h1 span {
  background-color: var(--bg-heading-span);

  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 8px;
}

header p {
  display: none;
}

main {
  background-color: var(--bg-body);

  padding: 1.4rem 3.2rem 6rem;
}

main p {
  font-family: var(--ff-paragraph);
  font-weight: 400;
  font-size: var(--fs-paragraph);
  line-height: 2rem;
  letter-spacing: 0em;
  color: var(--fc-paragraph);

  text-align: center;

  margin-bottom: 6rem;
}

section {
  display: grid;
  gap: 3.2rem;
}

.card {
  position: relative;

  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  animation: downtop 1s;
  -webkit-animation: downtop 1s;
  transition: transform 420ms;
  -webkit-transition: transform 420ms;
  -moz-transition: transform 420ms;
  -ms-transition: transform 420ms;
  -o-transition: transform 420ms;
}

.card img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);

  opacity: 0.9;
  cursor: pointer;
}

.card h2 {
  font-weight: 400;
  font-size: var(--fs-span);
  line-height: 3.4rem;
  color: var(--fc-secundary);
  
  letter-spacing: 5%;
}

.card h2 span {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  background-color: var(--bg-body-span);
  padding: 0 2.3rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  animation: topdown 1s 500ms backwards;
  -webkit-animation: topdown 1s 500ms backwards;
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@media (min-width: 900px) {

}

footer {
  font-family: var(--ff-footer);
  font-size: var(--fs-footer);
  line-height: 2.8rem;

  color: var(--fc-secundary);

  text-align: center;

  display: none;
}

footer a {
  text-decoration: none;
  font-weight: bold;

  color: var(--fc-secundary);
}

footer a:hover {
  color: hsl(231, 17%, 8%);
}